/* line 1, ../sass/partials/_placeholders.scss */
#cropify-modal.loading > div {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 11, ../sass/cropify.scss */
body.cropify-overlayable:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  -webkit-transition: background-color 250ms linear, 1s;
  -webkit-transition-delay: 0, 0s;
  -moz-transition: background-color 250ms linear 0, 1s;
  -o-transition: background-color 250ms linear 0, 1s;
  transition: background-color 250ms linear 0, 1s;
}
/* line 25, ../sass/cropify.scss */
body.cropify-overlayed:after {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 30, ../sass/cropify.scss */
body.cropify-overlayed #cropify-modal {
  display: block;
}
/* line 35, ../sass/cropify.scss */
body.wait {
  cursor: wait;
}

/* line 40, ../sass/cropify.scss */
#cropify-modal {
  display: none;
  padding: 1em;
  position: absolute;
  z-index: 13;
  background-color: #222;
  border-radius: 0.5em;
  font-size: 100%;
  text-align: right;
  color: #fff;
}
/* line 53, ../sass/cropify.scss */
#cropify-modal.loading {
  display: block;
  width: 28.375em;
  height: 3.5em;
  margin-left: -14.1875em;
  margin-top: -1.75em;
  left: 50%;
  top: 40%;
}
/* line 66, ../sass/cropify.scss */
#cropify-modal.loading progress {
  width: 90%;
}
/* line 69, ../sass/cropify.scss */
#cropify-modal.loading progress:indeterminate:after {
  content: '...';
}
/* line 73, ../sass/cropify.scss */
#cropify-modal.loading progress:after {
  content: attr(value) "% ";
  display: inline-block;
  position: absolute;
  left: 1em;
  bottom: 0.95em;
  font-weight: bold;
}
/* line 83, ../sass/cropify.scss */
#cropify-modal.loading p {
  display: none;
}
/* line 88, ../sass/cropify.scss */
#cropify-modal.loaded {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 0;
  text-align: left;
}
/* line 100, ../sass/cropify.scss */
#cropify-modal.loaded > div {
  display: inline-block;
  float: left;
}
/* line 104, ../sass/cropify.scss */
#cropify-modal.loaded > div:first-child + div {
  margin-left: 2em;
  overflow: hidden;
}
/* line 110, ../sass/cropify.scss */
#cropify-modal.loaded.no-dest > div:first-child + div {
  display: none;
}
/* line 114, ../sass/cropify.scss */
#cropify-modal.loaded.full-width > div:first-child + div {
  margin-top: 2em;
  margin-left: 0;
}
/* line 119, ../sass/cropify.scss */
#cropify-modal.loaded img {
  text-align: center;
}
/* line 123, ../sass/cropify.scss */
#cropify-modal.loaded progress {
  display: none;
}
/* line 127, ../sass/cropify.scss */
#cropify-modal.loaded p {
  display: block;
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
/* line 135, ../sass/cropify.scss */
#cropify-modal.loaded p button {
  margin: 0 0 0 0.5em;
  float: right;
  cursor: pointer;
}

/* line 145, ../sass/cropify.scss */
.cropify-up-box p {
  margin: 0.25em 0;
}
/* line 149, ../sass/cropify.scss */
.cropify-up-box > [type="file"] {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
}

/* line 157, ../sass/cropify.scss */
.cropify-clear:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
