@import 'compass/css3';
@import 'partials/placeholders';


// cross-browser support
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;


body {
	&.cropify-overlayable:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;

		@include single-transition(background-color 250ms linear 0);
	}

	&.cropify-overlayed {

		&:after {
			z-index: 4;
			background-color: rgba(0, 0, 0, 0.5);
		}

		#cropify-modal {
			display: block;
		}
	}

	&.wait {
		cursor: wait;
	}
}

#cropify-modal {
	display: none;
	padding: 1em;
	position: absolute;
	z-index: 13;

	background-color: #222;
	border-radius: 0.5em;

	font-size: 100%;
	text-align: right;
	color: #fff;

	&.loading {
		display: block;
		width: 28.375em;
		height: 3.5em;
		margin-left: -14.1875em;
		margin-top: -1.75em;
		left: 50%;
		top: 40%;

		& > div {
			@extend %visually-hidden;
		}

		progress {
			width: 90%;

			&:indeterminate:after {
				content: '...';
			}

			&:after {
				content: attr(value) '% ';
				display: inline-block;
				position: absolute;
				left: 1em;
				bottom: 0.95em;
				font-weight: bold;
			}
		}

		p {
			display: none;
		}
	}

	&.loaded {
		display: block;

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		border-radius: 0;
		text-align: left;

		& > div {
			display: inline-block;
			float: left;

			&:first-child + div {
				margin-left: 2em;
				overflow: hidden;
			}
		}

		&.no-dest > div:first-child + div {
			display: none;
		}

		&.full-width > div:first-child + div {
			margin-top: 2em;
			margin-left: 0;
		}

		img {
			text-align: center;
		}

		progress {
			display: none;
		}

		p {
			display: block;
			margin: 0;

			position: absolute;
			bottom: 1em;
			right: 1em;

			button {
				margin: 0 0 0 0.5em;
				float: right;
				cursor: pointer;
			}
		}
	}
}

.cropify-up-box {
	p {
		margin: 0.25em 0;
	}

	& > [type="file"] {
		display: inline-block;
		width: 0;
		height: 0;
		opacity: 0;
	}
}

.cropify-clear:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
